.alt-header {
  height: 42px;
}

.alt-header__container {
  padding: var(--horizontal-space);
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

.alt-header__column {
  width: 33%;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:nth-child(2) {
  text-align: center;
}

.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.alt-header__column span:last-child {
  margin-left: 10px;
}

.alt-header__title {
  font-size: 18px;
  font-weight: 600;
}
